@{
    ViewData["Title"] = "GisMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css" />
<link rel="stylesheet" href="~/lib/css/demo-center.css" />
<link rel="stylesheet" type="text/css" href="~/lib/css/giscss.css" />
<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
<style>
    html, body, #container {
        height: 100%;
        width: 100%;
    }

    #panel {
        position: absolute;
        background-color: white;
        max-height: 90%;
        overflow-y: auto;
        top: 4.5rem;
        right: 10px;
        width: 280px;
    }
</style>

<div id="container"></div>
<div class='input-card' style="left: 6rem; top: 2rem; bottom: auto; width:10rem ; ">
    <div class="input-item">
        <i class="layui-icon">&#xe857;</i>
        <h3>数据统计</h3>
    </div>
</div>
<div class='input-card' style="left: 6rem; top: 7rem; bottom: auto;   ">
    <div class="input-item">
        <h3>今日警告：0</h3>
    </div>
    <div class="input-item">
        <h3>设备在线：60台</h3>
    </div>
    <div class="input-item" onclick="timeOneOverlay()">
        <h3>设备故障：0台</h3>
    </div>
</div>
<div class="input-card" style=" top: 1rem; bottom: auto; width:4rem ; "> <i class="layui-icon">&#xe656;</i>   </div>
<div id="panel" class="amap-pl-pc">
</div>

<script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=8ade693bcd1eb762a612032a3040d86a"></script>
<script type="text/javascript">
    var list = [{
        "lnglats": [116.30748321030424, 40.09450868761932],
        "name": "我是1号",
        "address": "科技楼",
        "lists": Math.floor(Math.random() * 10 + 1),
        "Video": "http://baidu.com"
    },
    {
        "lnglats": [116.30727399800108, 40.09265340437573],
        "name": "我是2号",
        "address": "图书馆",
        "lists": Math.floor(Math.random() * 10 + 1),
        "Video": "http://baidu.com"
    },
    {
        "lnglats": [116.3081966779022, 40.09328128305901],
        "name": "我是3号",
        "address": "教学楼",
        "lists": Math.floor(Math.random() * 10 + 1),
        "Video": "http://baidu.com"
    },
    {
        "lnglats": [116.3047993183136, 40.093232428279656],
        "name": "我是4号",
        "address": "教学楼3",
        "lists": Math.floor(Math.random() * 10 + 1),
        "Video": "http://baidu.com"
    }
    ];

    $(function () {
        document.getElementById("panel").innerHTML = getHtml();
       
    });

    function getHtml() {
        var ulHtml = '<div class="amap_lib_placeSearch">' + '<div class="amap_lib_placeSearch_list" id="demo">';
        ulHtml += '<ul class="amap_lib_placeSearch_ul">';
        for (var i = 0; i < list.length; i++) {
            var num = i + 1;
            if (i == 0) {
                ulHtml += '<li class="poibox selected" onclick="getOneOverlay(' + num + ')">';
            } else {
                ulHtml += '<li class="poibox" onclick="getOneOverlay(' + num + ')">';
            }
            ulHtml += '<div class="amap_lib_placeSearch_poi poibox-icon">' + num + '</div>';
            ulHtml +=
                '<div class="poi-img" style="background-image:url(//store.is.autonavi.com/showpic/0abdba5498776518fe6c187e54cc27de?operate=merge&amp;w=90&amp;h=56&amp;position=5)"></div>';
            ulHtml += '<h3 class="poi-title"><span class="poi-name">' + list[i].name +
                '</span><a class="poi-more" title="详情">&gt;</a></h3>';
            ulHtml += '<div class="poi-info"><p class="poi-addr">' + list[i].address + '</p></div>';
            ulHtml += '<div class="clear">' + list[i].lists + '</div>';
            ulHtml += '</li>';
        }
        ulHtml += '</div></div></ul>';
        return ulHtml;
    }

    //选择li
    $(document).ready(function () {

        $('.input-card').click(function () {
            var getClass = $('.amap-pl-pc').attr('class')
            console.log(getClass);
            if (getClass == 'amap-pl-pc') {
                $('.amap-pl-pc').addClass(' display')
            } else if (getClass == 'amap-pl-pc display') {
                $('.amap-pl-pc').removeClass('display')
            }

        });
        $('.poibox').click(function () {
            var getClass = $(this).attr('class')
            if (getClass == 'poibox selected') {
                $(this).removeClass('selected')
            } else if (getClass == 'poibox') {
                $(this).siblings('li').removeClass('selected')
                $(this).addClass(' selected')
            }
        });
    });


    var marker=[];
    // 创建地图实例
    var map = new AMap.Map("container", {
        resizeEnable: true
        , content: list[1].lnglats,
        viewMode: '3D',
        pitch: 65,
        rotation: -35,
        zoom: 20
    });
    var markers = [];
    var infoWindow = new AMap.InfoWindow({
        offset: new AMap.Pixel(0,0)
    });
    for (var i = 0; i < list.length; i++) {
        var lnglat = list[i].lnglats;
        //console.log(lnglat);
        // 创建点实例
        marker = new AMap.Marker({
            position: list[i].lnglats,
            icon: 'https://webapi.amap.com/theme/v1.3/markers/n/mark_b' + (i + 1) + '.png',
            map: map,
            extData: {
                id: i + 1
            }
        });
        //添加marker标记
        markers.push(marker);
        //添加信息
        if (list[i].lists>5) {
            marker.content = '<div  class="marker-content warning" >' + list[i].name + '<br> 地址：' + list[i].address + '</div>';
        }
        else {
            marker.content = '<div  class="marker-content" id="4">' + list[i].name + '<br> 地址：' + list[i].address + '</div>';
        }
      
        //鼠标点击marker可弹出自定义的信息窗体

        marker.on('click', markerClick);
        marker.on('mouseover', markerClick);
        marker.emit('click', {
            target: marker
        });


    }

    function markerClick(e) {
        infoWindow.setContent(e.target.content);    
        infoWindow.open(map, e.target.getPosition());
     
    }
    // 将点添加到地图
    map.add(markers);
    map.setFitView();


    

    //setInterval(timeOneOverlay, 1000)
    function timeOneOverlay() {

        var targetId = Math.floor(Math.random() * 10 + 1);
        var nul = Math.floor(Math.random() * 3 + 1);
      
       // console.log(targetId);
        var targetMarker;
        targetMarker = markers[nul];
        infoWindow.setContent(targetMarker.content)
        infoWindow.open(map, targetMarker.getPosition());
    }

    // 获取当前 id 的覆盖物
    function getOneOverlay(num) {
        var targetId = num;
        var targetMarker;
       
        for (var i = 0; i < markers.length; i++) {
            // 获取存在每个 extData 中的 id
            var id = markers[i].getExtData().id;
            if (id === targetId) {
                targetMarker = markers[i];
                infoWindow.setContent(targetMarker.content)
                
                infoWindow.open(map, targetMarker.getPosition());
                break;
            }
        }
    }
</script>


