

<form class="layui-form" action="">
    <div class="layui-form-item">
        请选择：
        <div class="layui-input-inline">
            <select name="interest" id="F_OrganizeId" lay-filter="aihao">
                <option value="10001">教室1</option>
                <option value="10002">教室2</option>
                <option value="10003">教室3</option>
                <option value="10004">教室4</option>
            </select>
        </div>
        <button class="layui-btn" data-type="reload">确定</button>
    </div>
</form>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script>

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '/api/Mstb/Getmonitorcurrent'
            , title: '数据表'
            , cols: [[
                { field: 'Mac', title: '站点ID', width: 100, fixed: 'left', align: 'center' }

                , { field: 'Ip_Address', title: 'IP', width: 160, align: 'center' }
                , {
                    field: 'Monitor_Value', title: '氢气', align: 'center', width: 150, templet: function (item) {
                        return item.Monitor_Value[0] + ' %LEL';
                    }
                }
                , {
                    field: 'Monitor_Value', title: '温度', align: 'center', width: 100, templet: function (item) {
                        return item.Monitor_Value[1] + ' C°';
                    }
                }
                , {
                    field: 'Monitor_Value', title: '湿度', align: 'center', width: 120, templet: function (item) {
                        return item.Monitor_Value[2] + ' %RH';
                    }
                }
                , { field: 'Monitor_Time', title: '时间', align: 'center', width: 150 }

            ]]
            , page: true

        });





    });
</script>
