

<table class="layui-hide" id="test" lay-filter="test"></table>
<script>

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '/api/Mstb/Getmonitorcurrent'
            , title: '数据表'
            , cols: [[
                { field: 'Mac', title: '站点ID', width: 120, fixed: 'left', align: 'center' }
               
                , { field: 'Ip_Address', title: 'IP', width: 120, align: 'center' }
                , {
                    field: 'Monitor_Value', title: '氢气', align: 'center', width: 150, templet: function (item) {
                        return item.Monitor_Value[0] +' %LEL';
                    }
                }
                , {
                    field: 'Monitor_Value', title: '温度', align: 'center', width: 120, templet: function (item) {
                    return item.Monitor_Value[1] +' C°';
                }}
                , {
                    field: 'Monitor_Value', title: '湿度', align: 'center', width: 120, templet: function (item) {
                        return item.Monitor_Value[2] +'%RH';
                    }}
                , { field: 'Monitor_Time', title: '时间', align: 'center', width: 180 }

            ]]
            , page: true

        });





    });
</script>
