<div style="margin: 15px;" id="Uform">
    <form class="layui-form" id="form1">
        <div class="layui-form-item">
            <input type="text" name="F_Id" id="F_Id" style="display:none" class="layui-input">
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择父类</label>
                <div class="layui-input-inline">
                    <select name="F_ParentId" id="F_ParentId" lay-filter="aihao">
                        <option value="0">父节点</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">目标</label>
                <div class="layui-input-inline">
                    <select name="F_Target" id="F_Target" lay-filter="aihao">
                        <option value="">==请选择==</option>
                        <option value="expand" title="expand">无页面</option>
                        <option value="iframe" title="iframe">框架页</option>
                        <option value="open" title="open">弹出页</option>
                        <option value="blank" title="blank">新窗口</option>

                    </select>
                </div>
            </div>



        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="F_FullName" id="F_FullName" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">链接</label>
                <div class="layui-input-inline">
                    <input type="text" name="F_UrlAddress" id="F_UrlAddress" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">图标</label>
                <div class="layui-input-inline">
                    <input type="text" name="F_Icon" id="F_Icon" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>

            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="checkbox" name="F_IsMenu" id="F_IsMenu" title="菜单">
                <input type="checkbox" name="F_IsExpand" id="F_IsExpand" title="展开">
                <input type="checkbox" name="F_IsPublic" id="F_IsPublic" title="公共">
                <input type="checkbox" name="F_AllowEdit" id="F_AllowEdit" title="允许编辑">
                <input type="checkbox" name="F_AllowDelete" id="F_AllowDelete" title="允许删除">
                <input type="checkbox" name="F_EnabledMark" id="F_EnabledMark" title="有效" checked="">
            </div>
        </div>
        <button lay-filter="edit" id="edit" lay-submit style="display: none;"></button>
    </form>
</div>

<script src="~/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="~/lib/js/jquery-3.3.1.min.js"></script>
<script>
    $.request = function (name) {
        var search = location.search.slice(1);
        var arr = search.split("&");
        for (var i = 0; i < arr.length; i++) {
            var ar = arr[i].split("=");
            if (ar[0] == name) {
                if (unescape(ar[1]) == 'undefined') {
                    return "";
                } else {
                    return unescape(ar[1]);
                }
            }
        }
        return "";
    }
    var ParentId = $.request("F_ParentId");



    layui.use('form', function () {
        var form = layui.form;
        layer.msg(ParentId);

        $.ajax({
            url: '/api/Module/GetTarget',
            dataType: 'json',
            type: 'get',
            success: function (res) {
                $.each(res, function (index, item) {
                    $('#F_ParentId').append(new Option(item.F_FullName, item.F_Id));

                });
                $('#F_ParentId').val(ParentId);
                form.render("select");



            }
        });


        form.on('submit(edit)', function (data) {
            if (!!ParentId) {
                $.ajax({
                    type: "Put",
                    url: "/api/Module",
                    data: JSON.stringify(data.field),
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (ret) {

                        var index = parent.layer.getFrameIndex(window.name);
                        if (ret == true) {
                            parent.layer.msg("操作成功", { icon: 1, time: 3000 });
                            parent.layer.close(index); //再执行关闭

                        }
                        else {
                            parent.layer.msg("操作失败", { icon: 2, time: 3000 });
                            parent.layer.close(index); //再执行关闭
                        }
                    }
                });
            }
            else {
                $.ajax({
                    type: "post",
                    url: "/api/module/add",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    data: JSON.stringify(data.field),
                    success: function (ret) {
                        var index = parent.layer.getFrameIndex(window.name);
                        if (ret == true) {
                            parent.layer.msg("操作成功", { icon: 1 });
                            parent.layer.close(index); //再执行关闭
                            $(".layui-laypage-btn").click();
                        }
                        else {
                            parent.layer.msg("操作失败", { icon: 2 });
                            parent.layer.close(index); //再执行关闭
                        }
                    }
                });
            }

            return false;
        });

    });
</script>