<div style="margin: 15px;" id="Uform">
    <form class="layui-form" id="form1">
        <div class="layui-form-item">
            <input type="text" name="F_Id" id="F_Id" class="layui-input" style="display:none">
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">归属组织</label>
                <div class="layui-input-inline">
                    <select name="F_OrganizeId" id="F_OrganizeId" lay-filter="aihao">
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">角色类型</label>
                <div class="layui-input-inline">
                    <select name="F_Type" id="F_Type" lay-filter="aihao">
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="F_FullName" id="F_FullName" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">角色编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="F_EnCode" id="F_EnCode" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">创建时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="F_CreatorTime" id="F_CreatorTime" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="F_SortCode" id="F_SortCode" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="checkbox" name="F_AllowEdit" id="F_AllowEdit" title="允许编辑">
                <input type="checkbox" name="F_AllowDelete" id="F_AllowDelete" title="允许删除">
                <input type="checkbox" name="F_EnabledMark" id="F_EnabledMark" title="有效" checked="">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button lay-filter="edit" class="layui-btn" id="edit" lay-submit="" style="display:none">提交</button>
            </div>
        </div>

    </form>
</div>

<script src="~/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="~/lib/js/jquery-3.3.1.min.js"></script>
<script>
    $.each(top.clients.organize, function (index, item) {
        $('#F_OrganizeId').append(new Option(item.fullname, index));
    });
    $.each(top.clients.dataItems.RoleType, function (index, item) {
        $('#F_Type').append(new Option(item,index));
    });
    $.request = function (name) {
        var search = location.search.slice(1);
        var arr = search.split("&");
        for (var i = 0; i < arr.length; i++) {
            var ar = arr[i].split("=");
            if (ar[0] == name) {
                if (unescape(ar[1]) == 'undefined') {
                    return "";
                } else {
                    return unescape(ar[1]);
                }
            }
        }
        return "";
    }



    var keyValue = $.request("keyValue");
    layui.use('form', function () {
        var form = layui.form,laydate = layui.laydate;


        form.on('submit(edit)', function (data) {
          
            if (!!keyValue) {
                $.ajax({
                    type: "Put",
                    url: "/api/Role",
                    data: JSON.stringify(data.field),
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (ret) {

                        var index = parent.layer.getFrameIndex(window.name);
                        if (ret == true) {

                            layer.msg("操作成功", { icon: 1 }, function () {
                                parent.layer.close();
                                window.parent.location.reload();
                            });
                          
                        }
                        else {
                            layer.msg("操作失败", { icon: 2, time: 3000 });
                            parent.layer.close(); 
                        }
                    }
                });
            }
            else {
                $.ajax({
                    type: "post",
                    url: "/api/Role",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    data: JSON.stringify(data.field),
                    success: function (ret) {
                        if (ret == true) {
                            layer.msg("操作成功", { icon: 1 }, function () {
                                parent.layer.close(); 
                                window.parent.location.reload();
                            });
                        }
                        else {
                            layer.msg("操作失败", { icon: 2 });
                            parent.layer.close(); 
                        }
                    }
                });
            }

            return false;
        });

    });
</script>