

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>新增用户</button>
        <button class="layui-btn layui-btn-sm" lay-event="btn-refresh" id="btn-refresh"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>

<script type="text/html" id="switchTpl">
    <input type="checkbox" name="sex" value="{{d.F_Gender}}" lay-skin="switch" lay-text="女|男" lay-filter="sexDemo" {{ d.F_Gender == true ? 'checked' : '' }}>
</script>




<script type="text/html" id="EnabledMark">
    <input type="checkbox" name="EnabledMark" value="{{d.F_EnabledMark}}" lay-skin="switch" lay-text="允许|禁止" lay-filter="EnabledMarkDemo" {{ d.F_EnabledMark == true ? 'checked' : '' }}>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;
        // 刷新
        $('#btn-refresh').on('click', function () {
            location.reload()
        });
        table.render({
            elem: '#test'
            , url: '/api/User/Userlist'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cols: [[
                { type: 'checkbox', fixed: 'left' }
                , { field: 'F_Account', title: 'ID', width: 80, fixed: 'left' }
                , { field: 'F_RealName', title: '用户名', width: 120 }
                , { field: 'F_RealName', title: '邮箱', width: 150 }
                , { field: 'F_Gender', title: '性别', width: 80, sort: true, templet: '#switchTpl' }
                , { field: 'F_MobilePhone', title: '手机', width: 100 }
                , {
                    field: 'F_OrganizeId', title: '单位', width: 120, templet: function (d) {

                        return top.clients.organize[d.F_OrganizeId] == null ? "" : top.clients.organize[d.F_OrganizeId].fullname;
                    }
                }
                , {
                    field: 'F_DepartmentId', title: '部门', width: 80, templet: function (d) {
                        return top.clients.organize[d.F_DepartmentId] == null ? "" : top.clients.organize[d.F_DepartmentId].fullname;
                    }
                }
                , {
                    field: 'F_DutyId', title: '岗位', width: 80, templet: function (d) {
                        return top.clients.duty[d.F_DutyId] == null ? "" : top.clients.duty[d.F_DutyId].fullname;
                    }
                }
                , { field: 'F_CreatorTime', title: '修改时间', width: 120, sort: true }
                , { field: 'F_EnabledMark', title: '允许登录', width: 100, templet: '#EnabledMark' }
                , { field: 'F_Description', title: '备注', width: 200 }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200 }
            ]]
            , page: true

        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));

                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'add':
                    layer.open({
                        type: 2,
                        area: ['730px', '600px'],
                        title: "用户添加",
                        content: '/Admin/UserForm',
                        btn: ['确定', '关闭'],
                        yes: function (index, layero) {
                            var sub = layero.find('iframe').contents().find("#edit");
                            sub.click();
                            $(".layui-laypage-btn").click();
                        }
                        , btn2: function () {
                            layer.closeAll();
                        },
                        zIndex: layer.zIndex //重点1
                        , success: function (layero) {
                            layer.setTop(layero); //重点2
                        }

                    });
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });
       
       
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: "Delete",
                        url: "/api/User",
                        data: { "id": data.F_Id },
                        daaType: "json",
                        success: function (ret) {
                            debugger
                            if (ret == "true") {
                                layer.msg("删除成功", { icon: 1 });
                                obj.del();
                                $(".layui-laypage-btn").click();
                            }
                            else {
                                layer.msg("删除失败", { icon: 2 });
                            }
                        }

                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {

                layer.open({
                    type: 2,
                    area: ['720px', '600px'],
                    title: "编辑",
                    content: '/Admin/UserForm?keyValue=' + data.F_Id,
                    btn: ['确定', '关闭'],
                    yes: function (index, layero) {
                        var sub = layero.find('iframe').contents().find("#edit");
                        sub.click();
                        $(".layui-laypage-btn").click();
                    }
                    , btn2: function () {
                        layer.closeAll();
                    },
                    zIndex: layer.zIndex //重点1
                    , success: function (layero, index) {
                        //debugger
                        var body = layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象
                        body.find("#F_Id").val(data.F_Id);
                        body.find("#F_Account").val(data.F_Account);
                        body.find("#F_UserPassword").val(data.F_UserPassword);
                        body.find("#F_OrganizeId").val(data.F_OrganizeId);
                        body.find("#F_DepartmentId").val(data.F_DepartmentId);
                        body.find("#F_DutyId").val(data.F_DutyId);
                        body.find("#F_RoleId").val(data.F_RoleId);
                        body.find("#F_RealName").val(data.F_RealName);
                        body.find("#F_MobilePhone").val(data.F_MobilePhone);
                        body.find('input[name=F_Gender][value=男]').attr("checked", data.F_Gender == false ? true : false);
                        body.find('input[name=F_Gender][value=女]').attr("checked", data.F_Gender == true ? true : false);
                        body.find("#F_EnabledMark").attr("checked", data.F_EnabledMark == true ? true : false);
                        body.find("#F_IsAdministrator").attr("checked", data.F_IsAdministrator == true ? true : false);;
                        body.find("#F_Description").val(data.F_Description);
                        iframeWin.layui.form.render();
                    }

                });
            }
        });
    });
</script>
