<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminUI</title>
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all" />
    <script type="text/javascript" src="~/lib/layui/layui.js"></script>
    <link rel="stylesheet" href="~/lib/css/global.css" media="all">
    <script type="text/javascript" src="~/lib/js/jquery-3.3.1.min.js"></script>
</head>
<body>  
    @RenderBody()
</body>
</html>
